/* ヘッダー */
header {
  border-top: 8px solid rgb(108,198,196);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
  height: 19vh;
  margin: auto;
}

.dental-clinic {
  font-size: 50px;
}

.catchphrase {
  font-size: 10px;
  text-align: end;
}

.phone {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.time {
  font-size: 10px;
  text-align: center;
  padding: 7px;
  border: .5px solid rgb(219, 216, 216);
  margin: 6px 0 10px;
}

.time > span {
  color: rgb(163, 3, 3);
}

.header-menu {
  width: 919px;
  height: 70px;
  margin: auto;
  background-color: rgb(145, 224, 222);
  border-radius: 5px;
}

.header-menu > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  border: 0.3px solid rgb(108,198,196);
  border-radius: 5px;
}

.header-menu > ul > li {
  width: 184px;
  height: 70px;
  text-align: center;
  border: 1px solid #6CC6C4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu > ul > li:hover {
  background: rgb(119, 211, 209);
}

.header-menu-en {
font-size: 10px;
}
/* ヘッダー */

/* メイン */
main {
  width: 920px;
  margin: 15px auto;
  display: flex;
}

.side-bar {
  width: 260px;
}

.side-bar > nav {
  height: 250px;
}

.side-bar-title {
  font-size: 16px;
  padding: 10px;
  background: rgb(145, 224, 222);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.side-bar > nav > ul {
  list-style: none;
  background: #fff;
  color: #fff;
  margin: 10px 0;
  border: 1px solid rgb(108,198,196);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.side-bar > nav > ul > li {
  border-bottom: 1px solid rgb(108,198,196);
  background: #fff;
  color: rgb(108,198,196);
  font-size: 15px;
  padding: 10px;
  margin: 0 12px;
}

.side-bar-menu { 
  color: #515151;
}

.nav-up > a:hover {
  color: #6CC6C4;
}

.nav-down > a:hover {
  color: #b5c66c;
}

.side-bar-menu-down {
  height: 15px;
}

.info-contents {
  width: 640px;
  margin: 10px 0 0 20px;
}

.info-contents-image {
  width: 100%;
  height: 100%;
}

.new-info {
  background: #fff;
  padding: 20px;
}

.new-info-title {
  font-size: 16px;
  padding: 12px 0 ;
  border-bottom: 3px solid rgb(108,198,196);
}

.new-info-list {
  list-style: none;
  margin: 0 10px;
}

.new-info-list > li {
  display: flex;
  border-bottom: 1px dotted rgb(126, 125, 125);
}

.new-info-day {
  width: 150px;
  font-size: 13px;
  padding: 20px 0;
}

.new-info-text {
  width: 500px;
  padding: 14px;
  font-size: 13px;
}
/* メイン */

/* フッター */
footer {
  width: 920px;
  height: 15vh;
  margin: auto;
}

.footer-content > ul {
  display: flex;
  list-style: none;
  background: rgb(108,198,196);
  border-radius: 5px;
  font-size: 13px;
}

.footer-content > ul > li , a {
  color: #fff;
  margin: 5px 0 5px 13px;
}

.footer-content > ul > li > a:hover {
  border-bottom: 1px solid #fff;
}

.footer-info{
  text-align: end;
  border-bottom: 2px solid rgb(108,198,196);
  padding: 15px 0;
  font-size: 13px;
}

.footer-info p {
  display: inline;
}

.copyright{
  font-size: 12px;
  text-align: center;
  margin: 12px auto 18px;
}
/* フッター */