
body {
  margin: 0 auto;
  padding: 0px 0 0 ;
  text-align: center;
  background: #f6f6f6;
  color: #515151;
  font-family: Verdana, Arial, Helvetica, 'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

.header-content {
  width: 920px;
  height: 19vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dental-clinic {
  font-size: 30px;
}

.catchphrase {
  font-size: 10px;
  text-align: end;
}

.phone {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.time {
  font-size: 10px;
  text-align: center;
  padding: 7px;
  border: .5px solid rgb(219, 216, 216);
  margin: 6px 0 10px;
}


.time > span {
  color: rgb(163, 3, 3);
}

.top-content {
  width: 919px;
  margin: auto;
  height: 70px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  background-color: hsla(rgba(108, 198, 196, 0.863), saturation, lightness, alpha);
}

.top-content > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  border: 0.3px solid rgb(108,198,196);
  border-radius: 5px;
}

.top-content > ul > li {
  width: 184px;
  height: 70px;
  text-align: center;
  border: 1px solid #6cc6c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content > li:hover {
  background: rgb(119, 211, 209);
}

.header-menu-en {
  font-size: 10px;
  }

main {
  width: 920px;
  margin: 15px auto;
  display: flex;
}


.side-bar {
  width: 260px;
}

.side-bar > nav {
  height: 250px;
}

.left-content {
  border: 1px solid rgb(108,198,196);
  width: 250px;
  margin-top: 20px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.left-content h3 {
  color: white;
  background-color: rgb(108,198,196);
  height: 5vh;
}

.left-content li {
  border-bottom: 1px solid rgb(108,198,196);
  height: 35px;
  width: 150px;
  margin: 0px 25px;
  list-style: none;
  padding-top: 10px;
}

.leftdown-content {
  border: 1px solid rgb(108,198,196);
  width: 250px;
  margin-top: 20px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.leftdown-content h3 {
  color: white;
  background-color: rgb(108,198,196);
  height: 5vh;
}

.leftdown-content li {
  border-bottom: 1px solid rgb(108,198,196);
  height: 35px;
  width: 150px;
  margin: 0px 25px;
  list-style: none;
  padding-top: 10px;
}

main {
  display: flex;
  background: whitesmoke;
}

.right-content {
  border-top: 20px solid white;
}

.rightdown-content {
  height: 35px;
  /* width: 150px; */
  margin: 0px 25px;
  list-style: none;
  padding-top: 10px;
  justify-content: space-between;
}

.rightdown-content li {
  display: flex;
  background: white;
}

.rightdown-content-list {
  width: 200px;
}

.rightdown-content-lists{
  width: 450px;
  font-size: 14px;
}

/* フッター */
footer {
  width: 100%;
}

.footer-content > ul {
  margin: 0 10px;
}

.footer-content > ul > li {
  display: block;
}

.footer-info p {
  margin-right: 10px;
  display: block;
}
/* フッター */
}
